*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: jumper;
}

@font-face {
    font-family: jumper;
    src: url(JumperPERSONALUSEONLY-ThinItalic.ttf);
}

a{
    text-decoration: none;
    color: black;
}

/* ===================================================================== */
.header-container{
    height: 8vh;
    background-color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: jumper;
    }
    
.logo{
    width: 7%;
    margin-top: 0.5%;
    margin-left: 2%;
   
}

.menu{
    width: 63vw;
    display: flex;
    justify-content: space-between;
    margin-left:10%;
    margin-right: 10%;
    
}
.menu a{
    border-bottom-style: solid;
    border-width: 3px;
    border-color:transparent;
}

.menu h2{
    font-size: 1rem;
    
}
.menu a:hover{
    
    border-bottom-style: solid;
    border-width: 3px;
    border-color: black;
}

.whatsapp{
    width: 20%;
    background-color:greenyellow;
    
}

.whatsapp h2{
    font-size: 1.2rem;   
}

/* ======================================================== */

.implantes{
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.implante{
    width: 30%;
    height: 50vh;


}
.implante h1{
    text-align: right;
}

.implante h4{
    color: transparent;
}
.imp1{
    background-color: rgb(255, 255, 255);
    
    font-family: jumper;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.3rem;
    
}

.imp2{
    background-color: rgb(255, 255, 255);
    background-image: url(parabolic-rectangle.svg);
    
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.imp2 img{
    width: 70%;
    align-items: center;
    
}
.implante button{
    border-style: none;
    background-color: greenyellow;
    border-radius: 30px;
    font-size: 1rem;
    width: 200px;
    
    padding:5px 5px;
}

/* ======================================================= */
.proteses{
    height: 600px;
    background-color: rgb(22, 19, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}
.protese{
    width: 40%;
    height:56vh;
    display: flex;

}
.protese h1{
    text-align: left;
}
.pr1{
    
    background-image: url(parabolic-triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.pr2{
    
    text-align: left;
    font-family: jumper;
    color: white;
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    font-size: 1.3rem;
}
.pr2 h4{
    Color:transparent;
}

.pr1 img{
    width: 70%;
    align-items: center;
    
}
.pr2 button{
    border-style: none;
    background-color:greenyellow ;
    color: rgb(7, 7, 7);
    border-radius: 30px;
    font-size: 1rem;
    
    width: 200px;
    margin-left:40%;
    padding:5px 5px;
}

/* ======================================================= */

.harmonizacoes{
    
    background-image: url(/subtle-prism.svg);
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    height: 600px;
    display: flex;
}

.hh1{
    
    text-align: center;
    padding:4%;
    font-size: 1.9rem;

    
}

.harmonizacao{
    background-color:rgb(206, 202, 202);
    width: 20vw;
    border-radius: 30px;
    height: 55vh;
    box-shadow: 0 70px 63px -60px ;
    
    position: relative;
    transition: background 0.8s;
    
    background: black;
}

.hcard1{
    background: url('botox.png');
    background-repeat: no-repeat;
    background-size: cover;
  
    

    
}

h3{
    font-size: 1rem;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    

}

.hcard1:hover{
    background: url('botox.png')center center no-repeat;
    background-size: cover;
    


}
.hcard2{
    background: url(preenchimento.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.hcard2:hover{
    background: url(preenchimento.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hcard3{
    background: url(microagulhamento.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hcard3:hover{
    background: url(microagulhamento.png) center center;
    background-repeat: no-repeat;
    background-size: cover;
}
