*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: jumper;
    src: url(JumperPERSONALUSEONLY-ThinItalic.ttf);
}

a{
    text-decoration: none;
    color: black;
}

/* ===================================================================== */
.header-container{
    height: 8vh;
    background-color: rgb(255, 255, 255); 
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: jumper;
    }
    
.logo{
    width: 7%;
    margin-top: 0.5%;
    margin-left: 2%;
   
}

.menu{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin-left:10%;
    margin-right: 10%;
    
}
.menu a{
    border-bottom-style: solid;
    border-width: 3px;
    border-color:transparent;
}

.menu h2{
    font-size: 1rem;
    
}
.menu a:hover{
    
    border-bottom-style: solid;
    border-width: 3px;
    border-color: black;
}

.whatsapp{
    width: 20%;
    background-color:greenyellow;
    
}

.whatsapp h2{
    font-size: 1.2rem;   
}

/* ======================================================== */

.implantes{
    height: 52vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.implante{
    width: 30%;
    height: 50vh;


}

.implante h3{
    color: transparent;
}
.imp1{
    background-color: rgb(255, 255, 255);
    text-align: right;
    font-family: jumper;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.3rem;
    
}

.imp2{
    background-color: rgb(255, 255, 255);
    background-image: url(parabolic-rectangle.svg);
    
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.imp2 img{
    width: 70%;
    align-items: center;
    
}
.implante button{
    border-style: none;
    background-color: white;
    font-size: 1rem;
}

/* ======================================================= */
.proteses{
    height: 58vh;
    background-color: rgb(22, 19, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}
.protese{
    width: 40%;
    height:56vh;

}
.pr1{
    
    background-image: url(parabolic-triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.pr2{
    
    text-align: left;
    font-family: jumper;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.3rem;
}
.pr2 h3{
    Color:transparent;
}
.pr1 img{
    width: 70%;
    align-items: center;
    
}
.protese button{
    border-style: none;
    background-color:#16133D ;
    color: white;
    font-size: 1rem;
}
